parameters:
	level: 3
	bootstrapFiles:
		- phpstan-bootstrap.php
	paths:
		- plugins/presence-api/presence-api.php
		- plugins/presence-api/includes/
		- plugins/presence-api/uninstall.php
		- plugins/presence-scenes/
	excludePaths:
		- plugins/presence-scenes/tests/*
	scanFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/wp-cli/wp-cli/php/utils.php
		- tests/e2e/demo-seeder.php
